a {
  text-decoration: none;
  color: $font-color;
}


.contact-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .4rem;
  padding: 1rem;
  background-color: $background-color;
  border-radius: .5rem;

  h3 {
    text-decoration: none;
  }
  .contact-details {

    h3 {
      font-size: 2rem;
      font-weight: 700;
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
