a {
  text-decoration: none;
  color: $font-color;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 1rem;
  background-color: $background-color;
  margin: 0.5rem;
  border-radius: .5rem;
}

.contact-link-card {
  display: flex;
  align-items: center;
  justify-content: stretch;
  // gap: 1rem;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  background-color: $background-color;
  border-radius: .5rem;

  h3 {
    text-decoration: none;
  }
  .contact-details {
    padding-left: 1rem;

    h3 {
      font-size: 2rem;
      font-weight: 700;
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
      // text-overflow: ellipsis;
    }
  }
}
