<div class="bottom-navigation">
  <div class="bottom-navigation-item"><i class="fa-regular fa-user"></i></div>
  <div class="bottom-navigation-item"><i class="fa-regular fa-building"></i></div>
  <div class="bottom-navigation-item"><i class="fa-solid fa-house"></i></div>
  <div class="bottom-navigation-item"><i class="fa-regular fa-square-check"></i></div>
  <div class="bottom-navigation-item"><i class="fa-regular fa-calendar"></i></div>
</div>
