<nav class="navigation">
<div class="navigation-item"><i class="fa-solid fa-magnifying-glass"></i></div>
<div class="navigation-item">Dashboard</div>
<div class="navigation-item"><i class="fa-solid fa-plus"></i></div>
</nav>
