  <!-- Hidden Search Results -->

      <ul class="search-results" id='search' data-navigation-target="searchResults">
    <% if @results %>
        <h1>Search Results</h1>
        <% @results.each do |result| %>
          <% if result.searchable.is_a?(Contact) %>
            <div class="search-result-item"><%= link_to "#{result.searchable.first_name} #{result.searchable.last_name}", contact_path(result.searchable) %></div>
          <% elsif result.searchable.is_a?(Company) %>
            <div class="search-result-item"><%= link_to result.searchable.name, company_path(result.searchable) %></div>
          <% end %>
        <% end %>
    <% else %>
      <p>No results found.</p>
    <% end %>
      </ul>

    <!-- app/views/shared/_search_results.html.erb -->
