<div class="container">
  <h2 class="py-4"><strong>Upcoming</strong></h2>
  <div class="btn-group p-2 d-flex justify-content-between gap-3 my-3" role="group">
    <%= link_to "All", root_path(filter: 'all'), class:"btn btn-outline-secondary btn-lg todo-status-button" %>
    <%= link_to "Todos", root_path(filter: 'todos'), class:"btn btn-outline-primary btn-lg todo-status-button" %>
    <%= link_to "Events", root_path(filter: 'events'), class:"btn btn-outline-warning btn-lg todo-status-button" %>
  </div>
</div>
