<div class="container">
  <div class="btn-group p-2 d-flex justify-content-between gap-3 my-3" role="group">
    <%= link_to "All", root_path(filter: 'all'), class:"btn btn-outline-dark btn-lg rounded-3 dashboard-button-all w-100" %>
    <%= link_to "Todos", root_path(filter: 'todos'), class:"btn btn-outline-primary btn-lg rounded-3 dashboard-button-todos w-100" %>
    <%= link_to "Events", root_path(filter: 'events'), class:"btn btn-outline-warning btn-lg rounded-3 dashboard-button-events w-100" %>
  </div>
</div>
