<div class="container">
  <div class="upcoming-container" style="max-height: 40vh; overflow:scroll;">
    <% @sorted_records.each do |record| %>
      <% if record.instance_of?(Event) %>
        <%= render 'events/events', events: @events %>
      <% else %>
        <%= render @todos %>
      <% end %>
    <% end %>
  </div>
</div>
