<div class="container">
  <div class="btn-group p-2 d-flex justify-content-around mb-3 gap-4" role="group">
    <div class=" dashboard-button-todos btn btn-outline-primary rounded-3">
      <h2><%= @todos.count %></h2>
      <%= link_to "Todos", root_path(filter: 'todos') %>
    </div>
    <div class="dashboard-button-events btn btn-outline-warning rounded-3">
      <h2><%= @events.count %></h2>
      <%= link_to "Events", root_path(filter: 'events') %>
    </div>
  </div>
</div>
