<div class="container">
  <div class="upcoming-container" style="max-height: 40vh; overflow:scroll;">
      <div class="<%= "d-none" unless params[:filter] == "events" %>">
        <%= render @events %>
      </div>
      <div class="<%= "d-none" unless params[:filter] == "todos" %>">
        <%= render @todos %>
      </div>
  </div>
</div>
