<%= render 'pages/dashboard_recentlycontacted' %>
    <!-- Initially empty, results will be injected here -->
  </div>
<%# <% if Event.all.count < 1 && Todo.all.count < 1 %>
  <%# <%= render 'shared/no_data' %>
<%# <% else %>
  <%# <div class="container mt-4"> %>
    <%# <%= render 'pages/dashboard_counters' %>
    <%= render 'pages/dashboard_upcoming' %>
  <%# </div> %>
<%# <% end %>
