<div class="icons-container flex-row justify-content-center">

  <% if contact.email != "" %>
    <%= mail_to contact.email do %>
      <i class="fa-regular fa-envelope text-primary"></i>
    <% end %>
  <% end %>

  <% if contact.phone != "" %>
    <%= phone_to contact.phone do %>
      <i class="fa-solid fa-phone text-primary"></i>
    <% end %>
  <% end %>

</div>
