<div class="container">
  <div class="row">
    <div class="btn-group justify-content-around mb-4" role="group">
      <div class="col-4">
        <%= link_to contact_path(filter: 'todos') do %>
          <div class="dashboard-button-todos btn shadow-sm rounded-4 w-100 py-2 bg-white">
            <h2><strong><%= @todos.count %></strong></h2>
           <i class="fa-regular fa-square-check link-dark" style="font-size: 3rem;"></i>
          </div>
        <% end %>
      </div>
      <div class="col-4">
        <%= link_to contact_path(filter: 'notes') do %>
          <div class="dashboard-button-notess btn shadow-sm rounded-4 w-100 py-2 bg-white">
            <h2><strong><%= @notes.count %></strong></h2>
            <i class="fa-regular fa-note-sticky" style="font-size: 3rem;"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
