<div class="container">
  <div class="contact-container pb-1 gap-1">
    <%= render 'contacts/contact' %>
  </div>
  <div class="d-flex justify-content-end">
    <%= render 'contacts/toggle_arrow' %>
  </div>
  <%= render 'contacts/contact_todos_notes' %>
</div>
