<div class="container">
  <h1>Company#show</h1>
  <h1><%= @company.name %></h1>
  <div>
    <div class="avatar-large">
      <%= image_tag @company.avatar, alt:"company-avatar", :class => "avatar-large" %>
    </div>

    <div>
      <% if @company.linkedin != "" %>
        <a href="<% @company.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin-in link-dark"></i></a>
      <% end %>
      <% if @company.website != "" %>
        <a href="mailto:<% @company.website %>"><i class="fa-brands fa-chrome link-dark"></i></a>
      <% end %>
      <% if @company.phone != "" %>
        <a href="tel:<% @company.phone %>"><i class="fa-solid fa-phone link-dark"></i></a>
      <% end %>
    </div>
  </div>

  <div>
    <h4>Details</h4>
    <div>
      <i class="fa-solid fa-location-pin"></i> <%= @company.address if @company.address %>
    </div>
  </div>

  <div>
    <h3>To Do's</h3>
  </div>

  <div>
    <h3>Notes</h3>
  </div>

</div>
