<ul id="todos" class="list-group" style="list-style-type: none">
  <% todos.order(:end_date).each do |todo| %>
    <li class="bg-white rounded-3 shadow-sm my-2 py-2 px-3">
      <p><strong>Due on: <%= todo.end_date.strftime("%d %b %Y") %></strong></p>
      <div class="btn-group d-flex justify-content-between">
        <%= simple_form_for(todo, html: {"data-controller": "todo"}) do |f| %>
          <%=
            f.input :status,
            label: false,
            as: :select,
            input_html: {"data-action": "change->todo#submit"},
            collection: {"Not Started": :not_started, "In Progress": :in_progress, "Done": :done, "Archived": :archived}
          %>
        <% end %>
        <%= todo.name %>
      </div>
    </li>
    <% end %>
  </ul>
