<div class='d-flex justify-content-between align-items-center mb-3 shadow p-4 rounded-1 bg-white'>
<div>
  <h2><%= todo.name %></h2>
<%= simple_form_for(todo, html: {"data-controller": "todo"}) do |f| %>
  <%=
    f.input :status,
    label: false,
    as: :select,
    input_html: {style: "width: 150px;", "data-action": "change->todo#submit d-block"},
    collection: {"Not Started": :not_started, "In Progress": :in_progress, "Done": :done, "Archived": :archived}
  %>
<% end %>
</div>
<p><%= todo.end_date %></p>
</div>
