<ul id="todos" class="list-group" style="list-style-type: none">
  <% company.todos.order(:end_date).each do |todo| %>
    <li class="bg-white rounded-3 shadow-sm my-2 py-2 px-3">
      <p><strong>Due on: <%= todo.end_date.strftime("%d %b %Y") %></strong></p>
      <p data-controller="todo">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
               data-todo-target="checkbox" data-action="change->todo#toggle">
        <span data-todo-target="text"><%= todo.name %></span>
      </p>
    <li>
  <% end %>
</ul>
