<ul id="todos" class="list-group" style="list-style-type: none">
  <% contact.todos.order(:end_date).each do |todo| %>
    <li class="bg-primary-subtle rounded-3 shadow-sm my-2 py-2 px-3">
      <p><strong>Due on: <%= todo.end_date.strftime("%d %b %Y") %></strong></p>
      <p><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> <%= todo.name %></p>
    <li>
  <% end %>
</ul>
