.bottom-navigation {
  width: 100vw;
  height: 100px;
  margin-top: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  font-size: 25px;
  border-bottom: 1.5px solid #dee2e6;
  z-index: 10;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .bottom-navigation-item {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;

    &:hover {
      background-color: #dee2e6;
    }
  }

}
