.ts-control, .ts-wrapper.single.input-active .ts-control {
  background: #f4f4f4 !important;
  border-top: #f4f4f4 !important;
  border-left: #f4f4f4 !important;
  border-right: #f4f4f4 !important;
  border-radius: 0 !important;
}

.form-container{
  border: 1px solid #cdcdcd  ;
  border-radius: 4px;
  padding: 1rem 1rem 0;
  margin-bottom: 1.3rem;
}
