.dashboard-button-all {
  color: #112d50;
  border: solid 2px #112d50;
}

.dashboard-button-todos {
  color: #0f6ff3;
  border: solid 2px #0f6ff3;;
}

.dashboard-button-events {
  color: #ffa845;
  border: solid 2px #ffa845;
}
