.todo-status-button-pending {
  color: #112d50;
  border: solid 2px #112d50;
}

.todo-status-button-pending-active {
  background-color: #112d50;
  color: white;
  border: solid 2px #112d50;
}

.todo-status-button-overdue {
  color: #ffa845;
  border: solid 2px #ffa845;
}

.todo-status-button-overdue-active {
  background-color: #112d50;
  color: white;
  border: solid 2px #112d50;
}

.todo-status-button-completed {
  color: #1cc076;
  border: solid 2px #1cc076;
}

.todo-status-button-completed-active {
  background-color: #112d50;
  color: white;
  border: solid 2px #112d50;
}

.todo-status-button-all {
  color: #112d50;
  border: solid 2px #112d50;
}

.todo-status-button-all-active {
  background-color: #112d50;
  color: white;
  border: solid 2px #112d50;
}
